@model WebAppAccountLaw.Models.Cliente

@{
    ViewBag.Title = "Dados Cadastrais";
}

<h2>Dados Cadastrais</h2>

<div>
    <h4>Cliente - @Model.NomeEmpresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeContatoFinanceiro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeContatoFinanceiro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataMatricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataMatricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

    </dl>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Salvar" class="btn btn-success" />
        @Html.ActionLink("Voltar", actionName: "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
    </div>
</div>
