@model Pam.AppMvc.ViewModels.FornecedorViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h1>@ViewBag.Title</h1>

<div>
    <h4>Informação somente leitura</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Documento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Documento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
</div>
<div>
    <a href="@Url.Action("Edit", "Fornecedores", new {id = Model.Id})" class="btn btn-primary">Editar</a>
    <a href="@Url.Action("Index", "Fornecedores")" class="btn btn-info">Voltar</a>
</div>