@model Pam.AppMvc.ViewModels.ProdutoViewModel

@{
    ViewBag.Title = "Excluir " + Model.Nome;
}

<h2>@ViewBag.Title </h2>
<h4>Você tem certeza disso?</h4>

<div class="row">
    <div class="col-md-4">
        <img src="~/imagens/@Model.Imagem" alt="@Model.Imagem" style="width: 300px; height: 428px" />
    </div>
    <div class="col-md-6">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.FornecedorId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fornecedor.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Valor)
            </dt>

            <dd>
                @Model.Valor.ToString("C")
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataCadastro)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ativo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ativo)
            </dd>

        </dl>

        <div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.Partial("_ErrorSummary")

                <div class="form-group">
                    <input type="submit" value="Excluir" class="btn btn-danger" />
                    <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
                </div>
            }
        </div>
    </div>
</div>
